
.navbar-banner{
    background-color: #006E91;
    
    
}
.navbar-words{
    color:white;
}
#basic-nav-dropdown{
    color:white;
}
#basic-nav-dropdown :hover{
    background-color:blue;
}
#heading-container{
    margin-bottom:5%;
}
/*Before Bootstrap
#heading-container{
    background-color: #006E91;
    border:1px solid black;
    color:white;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-bottom:25px;
}
#headerTitle{
    text-align: center;
    padding-top:40px;
     
}
#userOptions{

}
.welcome{
    font-size: 8pt;
}
*/