
#login-title{
    border-bottom: 1px solid black;
    margin-top:5%;
}
#login-container{
    border:1px solid black;
    background-color:#006E91;
    border-radius: 5%;
    color:white;
    margin-left:18%;
    margin-right:18%;
    
}
#login-h2{
    text-align:center;
}
#login-table td{
    padding:10px;
}
#signupbtns{
    
}
.Loginbtn{
    background-color:#E5E5E5;
    border:1px solid black;
    border-radius: 10%;
    color:black;
    margin-left:auto;
    margin-right: auto;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    width:75px;
}
#Loginbtns{
   margin:auto;
}
